<link rel="stylesheet" href="app/assets/stylesheets/landingPage.css">

<div class="header">
        <h1 style="font-family: 'Poppins', Arial, sans-serif;">Welcom to Gentle Guardians</h1>
        <div class="welcome-message">
            <p>Hello Name</p>
        </div>
       
    </div>

    <div class="navbar">
        <a href="landingPage.html" class="active"><i class="fas fa-home"></i> Gentle Guardian</a>
        <a href="aboutUs.html"><i class="fas fa-info-circle"></i> About</a>
        <a href="contactUs.html"><i class="fas fa-envelope"></i> Contact Us</a>
        <a href="#" class="logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
    </div>

    <div class="container">
        <div class="services">
            <a href="AnimalWellBeing_screen.html" class="service" target="_blank">
                <h2>Animal Well-being</h2>
                <p>We care for our animals</p>
                <img src="../resources/images/animalWellBeing.jpg" alt="Image for Service A">
            </a>

            <a href="b.html" class="service">
                <h2> Endangered animals Control</h2>
                <p>Let's save the species of animals from being extinct</p>
                <img src="../resources/images/endangeredAnimalControl.jpg" alt="Image for Service B">
            </a>

            <a href="c.html" class="service">
                <h2>Sponsor a Animal Place</h2>
                <p>Help animals in need.</p>
                <img src="../resources/images/sponsorAnAnimal.avif" alt="Image for Service C">
            </a>

            <a href="d.html" class="service">
                <h2>Stray Animals Management</h2>
                <p>Inform us if you find any stray animal that needs help</p>
                <img src="../resources/images/strayAnimalsManagement.jpg" alt="Image for Service D">
            </a>
        </div>
    </div>