body {
    font-family: 'Poppins', Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
}


.header {
    background-color: #333;
    color: #fff;
    padding: 5px;
    text-align: center;
}


.navbar {
    background-color: #333;
    overflow: hidden;
}


.navbar a {
    float: left;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
}


.navbar a:hover {
    background-color: #ddd;
    color: #333;
}


.navbar a.active {
    background-color: #4CAF50;
}


.navbar a.logout {
    float: right;
}


#endangered-animals-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px;
    overflow: auto;
    max-height: 60vh; /* Adjust the max height as needed */
}


.organization-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin: 5px;
    width: 45%; /* Set the width to 48% for 2 cards in a row */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    text-align: center;
}


.organization-card h2 {
    text-decoration: underline;
    font-size: auto;
    margin-top: 0;
}


.organization-card p {
    font-size: 12px;
}


.organization-card a {
    text-decoration: none;
    color: #0077b6;
    font-weight: bold;
}


.organization-card a:hover{
    color:green;
}


