body {
    font-family: 'Poppins', Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
}


.navbar {
    background-color: #333;
    overflow: hidden;
}

.navbar a {
    float: left;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
}
.top{
    text-align: center;
    margin: 15px;
    font-size: 20px;
    font-weight: bold;
    width: 200px;
    justify-content: center;
}
.navbar a:hover {
    background-color: #ddd;
    color: #333;
    
}

.navbar a.active {
    background-color: #4CAF50;
}

.navbar a.logout {
    float: right;
}



.search {

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 100px;
    padding: 20px 20px;
    gap: 10px;
}

.search-filter,  .search button {
    height: 40px; /* Adjust based on your preference */
}

.search-filter {
    padding: 10px;
    border: 2px solid #4CAF50;
    border-radius: 5px;
    font-family: 'Poppins', Arial, sans-serif;
    background-color: #f0f0f0;
    outline: none;
    cursor: pointer;
}

.search button {
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

.search button:hover {
    transform: scale(1.05); /* Slightly enlarge the button on hover */
}

.search-filter:focus {
    border-color: #45a049;
}

.search input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 2px solid #4CAF50;
    border-radius: 5px;
    font-family: 'Poppins', Arial, sans-serif;
}

.store-card {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    margin: 20px 80px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.store-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

.store-card .store-description {
    flex: 1;
}

.store-description h3 {
    margin-block-end: 0em;
}

.store-description p {
    margin-block-start: 0.15em;
    margin-block-end: 0.15em;
}
.store-card button {
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 10px;
}

.sponsor-btn {
    border: 0px;
    border-radius: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #4CAF50;
    color: #fff;
    transition: background-color 0.3s, transform 0.3s; /* Added transform to the transition */
    transform: translateY(10px); /* Starts 10 pixels to the left */
}

.sponsor-btn:hover {
    background-color: #ec46e7;
    transform: translateX(0); /* Translate to original position on hover */
}



.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    background-color: #fff;
    padding: 8px;
    z-index: 1000;
    display: flex;
    align-items: center; 
    gap: 20px; 
    border-radius: 20px;  /* Rounded corners */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999;
}

.popup img {
    margin-right: 20px; 
    flex-shrink: 0;
}

.popup-details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.popup button {
    align-self: flex-end;
    margin-left: auto;
    padding: 8px 16px;
    background-color: #ff4b5c;  /* Reddish color for the button */
    border: none;
    border-radius: 20px;  /* Rounded corners */
    color: #ffffff;  /* White text color */
    font-weight: bold;  /* Bold text */
    cursor: pointer;  /* Hand cursor on hover */
    outline: none;  /* Remove focus outline */
    transition: background-color 0.3s;  /* Smooth transition for hover effect */
}

.popup button:hover {
    background-color: #e43f50;  /* Slightly darker reddish color on hover */
}

.product-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 1000;
}

.product-popup-content {
    background-color: #f9f9f9;
    margin: 5% auto;
    padding: 20px;
    width: 60%;
    position: relative;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;

}

.popup-button {
    align-self: flex-end;
    margin: 15px auto;
    padding: 8px 16px;
    background-color: #ff4b5c;  /* Reddish color for the button */
    border: none;
    border-radius: 20px;  /* Rounded corners */
    color: #ffffff;  /* White text color */
    font-weight: bold;  /* Bold text */
    cursor: pointer;  /* Hand cursor on hover */
    outline: none;  /* Remove focus outline */
    transition: background-color 0.3s;  /* Smooth transition for hover effect */
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}
