body {
    font-family: 'Poppins', Arial, sans-serif;
    background-color: white;
    margin: 0;
}


.navbar {
    background-color: #333;
    overflow: hidden;
}

.navbar a {
    float: left;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.navbar a:hover {
    background-color: #ddd;
    color: #333;
    
}

.navbar a.active {
    background-color: #4CAF50;
}

.navbar a.logout {
    float: right;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 100px;
    padding: 20px 20px;
    gap: 10px;
}

.search button {
    padding: 15px;
    height: 40px; /* Adjust based on your preference */
}

.search button {
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

.search button:hover {
    background-color: #ec46e7;
    transform: scale(1.05); /* Slightly enlarge the button on hover */
}

.search input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 2px solid #4CAF50;
    border-radius: 5px;
    font-family: 'Poppins', Arial, sans-serif;
}

#guidelines-section {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
  }
  
  .guideline-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 100%;
    margin: 4px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 8px;
  }

  .guideline-card:hover{
    transform: scale(1.03); 
  }
  
  .guideline-title {
    font-weight: bold;
  }
  
  .guideline-content {
    margin-top: 10px;
  }
  .additional-card-container {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
   }

  .additional-card {
    background-color: #e6e3e3;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 18px;
    width: 23%; 
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.additional-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.additional-card img {
    margin-top: 10px;
    width: 60%;
    height: 53%;
    border-radius: 5px;
}

.additional-card p {
    font-weight: bold;
    font-size: 1em;
    margin-top: 10px;
    margin-bottom: 10px;
}

.additional-card li:hover {
    color: green;
}

.additional-card button {
    margin-top: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.additional-card button:hover {
    background-color: green;
}
