body {
    font-family: 'Poppins', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    transition: all 0.3s ease;
}
.header {
    background-color: #333;
    color: #fff;
    padding: 5px;
    text-align: center;
    position: relative;
}
.navbar {
    background-color: #333;
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.navbar a:hover {
    background-color: #ddd;
    color: #333;
}

.navbar a.active {
    background-color: #4CAF50;
}

.navbar a.logout {
    float: right;
}

.intro, .mission {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    max-width: 1000px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.features {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    max-width: 1000px;
    margin: 20px auto;
}

.card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.card i {
    font-size: 48px;
    color: #e852db;
    margin-bottom: 10px;
}

.card h2 {
    margin: 0;
    font-size: 20px;
    margin-top: 10px;
}

.card p {
    font-size: 14px;
}
