body {
    font-family: 'Poppins', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    transition: all 0.3s ease;
}
.header {
    background-color: #333;
    color: #fff;
    padding: 5px;
    text-align: center;
    position: relative;
}
.navbar {
    background-color: #333;
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.navbar a:hover {
    background-color: #ddd;
    color: #333;
}

.navbar a.active {
    background-color: #4CAF50;
}

.navbar a.logout {
    float: right;
}

.contact-intro {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    max-width: 1000px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.social-links {
    background-color: #b5e3eb;
    padding: 20px;
    margin: 20px auto;
    max-width: 1000px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.social-links a {
    background-color: rgb(23, 21, 21);
    margin: 5px 10px;
    padding: 5px 10px;
    border-radius: 12px;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-links a:hover {
    background-color: burlywood;
    color: #221bee;
}

.social-links i {
    margin-right: 5px;
}

.contact-form {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    max-width: 1000px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-group button {
    font-family: 'Poppins', Arial, sans-serif;
    background-color: #9cdfe9;
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-group button:hover {
    background-color: #45a049;
}
